*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    overflow-x: hidden;
}

.row:after{
    content: '';
    display: table;
    clear: both;
}

.container{
    width: 80%;
    margin: 0 auto;
}

/* COL- */
[class^='col-']{
    float: left;
}

.col-25{
    width: calc(100% /4);
}


.col-30{
    width: 30%;
}

.col-33{
    width: calc(100% /3);
}

.col-35{
    width: 35%;
}


.col-50{
    width: 50%;
}

.col-65{
    width: 65%;
}
.col-70{
    width: 70%;
}

.col-100{
    width: 100%;
}

/* COL- */

/* HEADER */
/* FIRST-NAV */


.lang-select{
    width: 20%;
    vertical-align: middle;
    border-right: 1px solid black;
    display: inline-block;
}

ul.btn{
    display: inline-block;
    list-style: none;
}


ul.btn a{
    text-decoration: none;
    color: black;
}

.float-right ul.btn li{
    display: inline-block;
}


.drop-btn{
    position: relative;
}


.drop-menu.bg-white{
    border-radius: 0;

}



.drop-menu {
    display: none;
    position: absolute;
    left: -300px;
    z-index: 1;
}


.drop-btn:hover  .drop-menu.bg-white{
    display: block;
}

.bg-grey{
    background-color: rgba(231, 229, 229, 0.747);
    height: 450px;
}

.bg-grey a:hover{
    background-color: transparent;
    text-decoration: underline;
}

.bg-grey .link-mini{
    width: 60%;
    padding-left: 10px;

}

.link-mini a:after{
    content: ' \2192';
}

.bg-grey h3{
    font-weight: lighter;
    margin-left: 10px ;
}

.box-dropped {

    display: inline-block;
    padding: 10px;
    width: 260px;
}



.drop-menu .box-dropped:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)

}

.icon img{
    height: 20px;

}

.icon{
    position: relative;
    top: 20px;
}

.icon-txt a, .icon-txt p{
    padding-left: 40px;
}

.resources{
    width: 700px;
    height: 340px;
}

.resources p, .resources ul{
    margin-left: 35px;
}

.res .icon{
    position: relative;
    top: 37px;
    padding-left: 3px;
}

.res li a{
    font-size: 14px;
}


.res li a:hover{
    text-decoration: underline;
}

.drop-menu.bg-white.about{
    min-width: 200px;
    position: absolute;
    left: 0;
}

.drop-menu.bg-white.about a{
    display: block;
    padding: 15px;

}

.drop-menu.bg-white.about a:hover{
    text-decoration: underline;
}




/* FIRST-NAV */
/* HEADER */

/* MAIN */



.jumbo-img{
    background: url(../img/jumbotron.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -150px;
}

.class-txt{
    position: relative;
    left: 10px;
}

.jumbo-txt h1{
    font-size: 48px;
}

.bg-cyan{
    background-color: rgb(175, 235, 228);
    height: 60px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.cube{
    width: 80%;
    margin: 0 auto;
}

.cube-img img{
    width: 30%;
    position: relative;
    left: 50%;
    top: 100px;
    transform: translate(-50%,-50%);
}

.book{
    padding: 80px;
    margin: 0 auto;
    text-align: center;
}

.book ul{
    position: relative;
    top: 10px;
}

.book-img img{
    height: 120px;

}

.book-txt{
    width: 59%;
    padding-top: 100px;

}

.book-txt h3{
    margin: auto;
}


.feature h4, .feature  hr{
    display: inline-block;
    vertical-align: middle;
}

.feature  hr{
    width: 50%;
    line-height: 18px;
}

.popular-feature ul li{
    display: inline-block;
    padding-right: 2em;
}

.popular-feature ul li:before{
    margin-right: 10px;
    content: '\2713';
    font-weight: bolder;
    color: white;
    padding: 2px 4px;
    background-color: rgb(254, 119, 90);
    border-radius: 50%;
}



.col-33 img{
    height: 100px;
    position: relative;
    top: 70px;
    left: 50%;
    transform: translate(-50%,-50%);
}


.col-33.bg-white{
    width: 28%;
    height: 455px;
}

.col-33.center{
    display: block;
    position: relative;
    left: calc((100% /3)/4);

}

.col-33 .resized{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.txt-resized{
    margin: 0 auto;
    width: 90%;
}

.popular-feature-card li{
    font-size: 12px;
    margin-left: 20px;
    list-style: none;
}


.popular-feature-card ul li:before{
    margin-right: 10px;
    content: '\2713';
    font-weight: bolder;
    font-size: 10px;
    color: white;
    padding: 1px 3px;
    background-color: rgb(254, 119, 90);
    border-radius: 50%;
}

.btn.btn-complete.repos{
    position: relative;
    border: none;
    top: 8px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn.btn-complete.repos a{
    text-decoration: none;
}

.green-resize{

    margin: 0 auto;
    width: 80%;
}

.green-resize h2{
    margin: 0 auto;
    width: 75%;
}

.green-resize h2, .green-resize p{
    color: white;
}



.num-box .box{
    display: inline-block;
    border-right: 1px solid white;
    width: 24%;
    height: 150px;
}

.box.no-border{
    border: transparent;
}

.num-box .box img{
    position: relative;
    top: 30px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.big-p{
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
    color: white;
    padding-top: 20px;
}

.big-p:after{
    content: '+';
    font-weight: bold;
    font-size: 30px;
}

.normal-p{
    color: white;
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
}

.p-loghi{
    width: 60%;
    text-align: center;
}

.p-loghi h2{
    font-size: 34px;
    font-weight: bolder;
}

.p-loghi p{
    margin-left: 30px;
    text-align: left;
    padding-top: 20px;
    font-size: 14px;
}

.img-loghi img{
    margin: 0 10px;
}

.loghi-col-one-img img{
    height: 24px;
}

.loghi-col-two-img img{
    height: 28px;
    width: auto;
    margin: 0 30px;
}

.img-profile-txt{
    width: 65%;
}

.img-profile-txt .smaller{
    font-size: 11px;
}

.img-profile img{
    height: 320px;
    position: relative;
    top: -35px;
}



/* MAIN */


/* FOOTER */

footer{
    background-color: rgb(50, 73, 91);
}

footer ul li{
    list-style: none;

}

footer ul li a{
    font-size: 14px;
}

footer ul li a, footer h4{
    text-decoration: none;
    color: white;
}

button.change-color{
    background-color: white;
    border: transparent;
}

button.change-color a.color-txt{
    color:  rgb(35, 35, 65);
    text-decoration: none;
    font-weight: bolder;
}

.social-logos i{
    margin-right: 17px;
    font-size: 20px;
    color: white;
}

.social-logos ul li{
    display: inline-block;
}

ul.in-line li{
    display: inline-block;
    margin: 0 10px;

}

ul.in-line.large-ul{
    padding-bottom: 13px;
    border-bottom: 1px solid white;
}

ul.in-line{
    text-align: center;

}

.copyright img{
    filter:  brightness(1000%);


}
.copyright p{
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.chatbot i{
    color: white;
    position: relative;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
}

.chatbot{
    position: fixed;
    bottom: 40px;
    right: 80px;
    z-index: 1;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: rgb(50, 73, 91) ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.671);
}

.chat{
    width: 300px;
    height: 450px;
    background-color: white;
    position: relative;
    bottom: 267px ;
    right: 100px;
    transform: translate(-50%,-50%);
    display: none;
}

.chatbot-icon-hover:hover .chat{
    display: block;
}

.header-blue{
    height: 80px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    background-color: rgb(50, 73, 91) ;
}

.header-blue img, .sms-area img{
    cursor: pointer;
    height: 40px;
    margin: 20px 20px;

}

.header-blue .online{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid white;
    font-size: 50px;
    background-color: green;
    position: relative;
    bottom: 35px;
    left: 50px;
}

.sms-area{
    height: 300px;
}

.sms{
    width: 60%;
    background-color: lightgrey;
    border-radius: 10px;
    position: relative;
    bottom: 40px;
    left: 60px;
}

.sms p{
    font-size: 12px;
    padding: 10px;
}

.input-area{
    padding-left: 10px;
}

.input-area input{
    height: 40px;
    width: 230px;
    background-color: lightgrey;
    border: transparent;
    padding-left: 15px;
}

.input-area i{
    color: grey;    
    position: relative;

    bottom: 20px;
    left: 260px;
    transform: translate(-50%,-50%);
    padding: 1px;
    font-size: 20px;
    line-height: 40px;
 
}




/* FOOTER */



/* UTILITY */
.float-right{
    float: right;
}

.float-left{
    float: left;
}

.pt-1{
    padding-top: 1.5em;
}

.pb-1{
    padding-bottom: 2em;
}

.pt-2{
    padding-top: 2.5em;
}

.pb-2{
    padding-bottom: 3em;
}

.pl-1{
    padding-left: .5em;
}

.pr-1{
    padding-right: 1em;
}
.mr-1{
    margin-right: 1em;
}

.bold{
    font-weight: bold;
}

.btn.btn-only-border a{
    color: rgb(254, 119, 90);
}

.btn.btn-complete a{
    color: white;
}

.btn-only-border{
    padding: 10px 15px;
    border: 1px solid rgb(254, 119, 90);
    border-radius: 8px;
}

.btn-complete{
    padding: 10px 15px;
    background-color: rgb(254, 119, 90);
    border-radius: 8px;
}

.w-30{
    width: 50%;
}

.lh-1{
    line-height: 40px;
}

.txt-align{
    text-align: center;
}

.bg-white{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.bg-greenish{
    background-color: rgb(0, 183, 172);
}

.margin-calc{
    margin-top: 100px;
}

.pl-2{
    padding-left: 130px;
}

.pr-2{
    padding-right: 130px;
}








.fixed{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 0;
    background-color: white;
    border-bottom: 1px solid black;

}

/* UTILITY */

/* MEDIA QUERY */

@media only screen and (min-width: 1900px) {
    .jumbo-txt{
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .cube-img{
        padding-top: 50px;
    }

    .loghi-col-one-img img{
        margin-left: 80px;
    }

    .loghi-col-two-img img{
        margin-left: 80px;
    }
  }

/* MEDIA QUERY */