*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.row:after{
    content: '';
    display: table;
    clear: both;
}

.container{
    width: 90%;
    margin: 0 auto;
}

/* COL- */
[class^='col-']{
    float: left;
}

.col-35{
    width: 35%;
}

.col-50{
    width: 50%;
}

.col-65{
    width: 65%;
}

.col-100{
    width: 100%;
}

/* COL- */

/* HEADER */
/* FIRST-NAV */


.lang-select{
    width: 17%;
    vertical-align: middle;
    border-right: 1px solid black;
    display: inline-block;
}

ul.btn{
    display: inline-block;
    list-style: none;
}


ul.btn a{
    text-decoration: none;
    color: black;    
}

.fr ul.btn li{
    display: inline-block;
}



/* FIRST-NAV */
/* HEADER */

/* MAIN */

.jumbo-img{
    background: url(../img/jumbotron.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -120px;
}

.class-txt{
    position: relative;
    left: 10px;
}

.jumbo-txt h1{
    font-size: 48px;
}

.bg-cyan{
    background-color: aquamarine;
    height: 60px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.cube{
    width: 50%;
    margin: 0 auto;
}

.cube-img img{
    width: 30%;
    position: relative;
    left: 50%;
    top: 100px;
    transform: translate(-50%,-50%);
}

.book{
    padding: 80px;
    margin: 0 auto;
    text-align: center;
}

.book ul{
    position: relative;
    top: 10px;
}

.book-img img{
    height: 120px;

}

.book-txt{
    width: 59%;
    padding-top: 100px;

}

.book-txt h3{
    margin: auto;
}


.feature h4, .feature  hr{
    display: inline-block;
    vertical-align: middle;
}

.feature  hr{
    width: 50%;
    line-height: 18px;
}

.popular-feature ul li{
    display: inline-block;
    padding-right: 2em;
}

.popular-feature ul li:before{
    margin-right: 10px;
    content: '\2713';
    font-weight: bolder;
    color: white;
    padding: 2px 4px;
    background-color: orangered;
    border-radius: 50%;
}


/* MAIN */



/* UTILITY */
.fr{
    float: right;
}

.pt-1{
    padding-top: 1.5em;
}

.pb-1{
    padding-bottom: 2em;
}

.pt-2{
    padding-top: 2.5em;
}

.pb-2{
    padding-bottom: 3em;
}

.pl-1{
    padding-left: .5em;
}

.pr-1{
    padding-right: 1em;
}
.mr-1{
    margin-right: 1em;
}

.bold

.btn.btn-only-border a{
    color: orangered;
}

.btn.btn-complete a{
    color: white;
}

.btn-only-border{
    padding: 10px 15px;
    border: 1px solid orangered;
    border-radius: 8px;
}

.btn-complete{
    padding: 10px 15px;
    background-color: orangered;
    border-radius: 8px;
}

.w-30{
    width: 30%;
}

.lh-1{
    line-height: 40px;
}

.txt-align{
    text-align: center;
}

.bg-white{
    background-color: rgb(255, 255, 255);
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4)
}

/* .fixed{
    position: fixed;
    top: 0;
    left: 0;
} */

/* UTILITY */