*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.row:after{
    content: '';
    display: table;
    clear: both;
}

.container{
    width: 90%;
    margin: 0 auto;
}

/* COL- */
[class^='col-']{
    float: left;
}

.col-50{
    width: 50%;
}

.col-100{
    width: 100%;
}

/* COL- */

/* HEADER */
/* FIRST-NAV */


.lang-select{
    width: 17%;
    vertical-align: middle;
    border-right: 1px solid black;
    display: inline-block;
}

ul.btn{
    display: inline-block;
    list-style: none;
}


ul.btn a{
    text-decoration: none;
    color: black;    
}



/* FIRST-NAV */
/* HEADER */

/* MAIN */

.jumbo-img{
    background: url(../img/jumbotron.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.class-txt{
    position: relative;
    left: 10px;
}

.jumbo-txt h1{
    font-size: 48px;
}
/* MAIN */



/* UTILITY */
.fr{
    float: right;
}

.pt-1{
    padding-top: 1.5em;
}

.pb-1{
    padding-bottom: 2em;
}

.pt-2{
    padding-top: 2.5em;
}

.pb-2{
    padding-bottom: 3em;
}

.pl-1{
    padding-left: .5em;
}

.pr-1{
    padding-right: 1em;
}
.mr-1{
    margin-right: 1em;
}

.bold

.btn.btn-only-border a{
    color: orangered;
}

.btn.btn-complete a{
    color: white;
}

.btn-only-border{
    padding: 10px 15px;
    border: 1px solid orangered;
    border-radius: 8px;
}

.btn-complete{
    padding: 10px 15px;
    background-color: orangered;
    border-radius: 8px;
}

.w-30{
    width: 30%;
}

.lh-1{
    line-height: 40px;
}

/* .fixed{
    position: fixed;
    top: 0;
    left: 0;
} */

/* UTILITY */